@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes circularZoom {
    0% {
      clip-path: circle(0% at 50% 50%);
      transform: scale(1.5);
    }
    100% {
      clip-path: circle(150% at 50% 50%);
      transform: scale(1);
    }
  }
  
  .animate-circularZoom {
    animation: circularZoom 1.5s ease-out forwards;
  }
  
  @layer components {
    .btn-hover {
      position: relative;
      overflow: hidden;
    }
    
    .btn-hover::before {
      content: '';
      position: absolute;
      top: 150%;
      left: -150%;
      width: 300%;
      height: 300%;
      background-color: black;
      transition: all 0.5s ease-in-out;
      z-index: 1;
      transform: rotate(45deg);
    }
  
    .btn-hover:hover::before {
      top: -150%;
      left: 150%;
    }
  
    .btn-hover:hover span {
      color: white;
      z-index: 10;
    }
  }
  